<%- include ('../modules/head') %> 

<body>

<%- include ('../modules/header') %> 

    <main>

        <section id="editProduct">

        <h2 class="titulos">Actualizar producto</h2>
        <form action="/products/<%=products.id%>?m=PUT" id="creationForm" method="post">
          
                    <!-- <fieldset class="fieldNuevo">
                        <select name="productType" id="productType" class="selectOption">
                            <option selected value="0"> Elija un artículo </option>
                                <option value="Película">Película</option> 
                                <option value="Combo">Combo</option> 
                                <option value="Bebida">Bebida</option> 
                                <option value="Alimento">Alimento</option>
                                <option value="Pase">Pase</option>
                        </select>
                    </fieldset> -->

        
                <!-- con los condicionales muestro los input q corresponden a peliculas -->

                    <fieldset class="fieldNuevo">
                        <label for="productName">
                            <input type="text" name="productName" class="cajaNuevo" placeholder="Nombre" required  value="<%=products.productName%>">
                        <span>Nombre</span>
                        </label>
                        
                    </fieldset>

        
                    <% if (products.productLink) { %>
                        
                        <fieldset class="fieldNuevo">
                            <label for="productLink"><input type="text" name="productLink" class="cajaNuevo" placeholder="Link a trailer" value="<%=products.productLink%>" required  >
                            <span>Link del trailer</span>
                            </label>
                            
                        </fieldset> 

                    <% } %>
                        
                    

        
                     
                    <fieldset class="fieldNuevo">
                        <label for="productDescription"><input type="text" name="productDescription" class="cajaNuevo" placeholder="Descripción" required value="<%=products.productDescription%>" >
                        <span>Breve descripción</span>
                        </label>
                        
                    </fieldset>

                    <% if (products.productType == "Película") { %>

                <fieldset id="filmCategory">
                    <legend>Categoría</legend>
                    <input class="hidden radio-label" id="radioUno" type="radio" name="filmCategory" value="Clásica" <%= products.filmCategory == "Clásica"? "checked" : null %> >
                    <label class="button-label" for="radioUno">Clásica</label>
                    <input class="hidden radio-label" id="radioDos" type="radio" name="filmCategory" value="Moderna" <%= products.filmCategory == "Moderna"? "checked" : null %> >
                    <label class="button-label" for="radioDos">Moderna</label>
                    <input class="hidden radio-label" id="radioTres" type="radio" name="filmCategory" value="Estreno" <%= products.filmCategory == "Estreno"? "checked" : null %> >
                    <label class="button-label" for="radioTres">Estreno</label>
                    <input class="hidden radio-label" id="radioCuatro" type="radio" name="filmCategory" value="No Aplica"<%= products.filmCategory == "No Aplica"? "checked" : null %> >
                    <label class="button-label" for="radioCuatro">No aplica</label> 
                </fieldset>
            


            <fieldset class="fieldCheckbox">
                <legend>Género</legend>
                    <label class="labelCheck" for="comedia" name="filmGenre"><input type="checkbox"  id="comedia" name="filmGenre"  value="comedia" <%= products.filmGenre == "comedia"? "checked" : null %>> Comedia</label>  
                    <label class="labelCheck" for="drama" name="filmGenre"><input type="checkbox"  id="drama" name="filmGenre"  value="drama"  <%= products.filmGenre == "drama"? "checked" : null %>> Drama</label>
                    <label class="labelCheck" for="fantasia" name="filmGenre"><input type="checkbox"  id="fantasia" name="filmGenre"  value="fantasia"<%= products.filmGenre == "fantasia"? "checked" : null %>> Fantasía</label  >
                    <label class="labelCheck" for="superscifi" name="filmGenre"><input type="checkbox"  id="superscifi" name="filmGenre"  value="superscifi"  <%= products.filmGenre == "superscifi"? "checked" : null %>> Ciencia ficción y superhéroes</label>
                    <label class="labelCheck" for="infantil" name="filmGenre"><input type="checkbox"  id="infantil" name="filmGenre"  value="infantil"  <%= products.filmGenre == "infantil"? "checked" : null %> Infantil</label>>
                    <label class="labelCheck" for="historia" name="filmGenre"><input type="checkbox"  id="historia" name="filmGenre"  value="historia"  <%= products.filmGenre == "historia"? "checked" : null %>> Historia</label>    
            </fieldset>

            <fieldset class="fieldCheckbox">
                <legend>Salas</legend>
                    <label class="labelCheck" for="salaMelies" name="salasCine"><input type="checkbox"  id="salaMelies" name="salasCine"  value="salaMelies" <%= products.salasCine == "salaMelies"? "checked" : null %>> Sala Melies</label >  
                    <label class="labelCheck" for="salaKurosawa" name="salasCine"><input type="checkbox"  id="salaKurosawa" name="salasCine"  value="salaKurosawa"  <%= products.salasCine == "salaKurosawa"? "checked" : null %>> Sala Kurosawa</label> 
                    <label class="labelCheck" for="salaGodard" name="salasCine"><input type="checkbox"  id="salaGodard" name="salasCine"  value="salaGodard"  <%= products.salasCine == "salaGodard"? "checked" : null %>> Sala Godard</label> 
                    <label class="labelCheck" for="salaSpielberg" name="salasCine"><input type="checkbox"  id="salaSpielberg" name="salasCine"  value="salaSpielberg"  <%= products.salasCine == "salaSpielberg"? "checked" : null %>> Sala Spielberg</label>    
            </fieldset>

            <fieldset class="fieldCheckbox">
                <legend>Días en cartel</legend>
                    <label class="labelCheck" for="lunesCartel" name="diasCartel"><input type="checkbox"  id="lunesCartel" name="diasCartel"  value="lunesCartel" <%= products.diasCartel == "Lunes"? "checked" : null %>> Lunes</label  >  
                    <label class="labelCheck" for="martesCartel" name="diasCartel"><input type="checkbox"  id="martesCartel" name="diasCartel"  value="martesCartel" <%= products.diasCartel == "Martes"? "checked" : null %>> Martes</label> 
                    <label class="labelCheck" for="miercolesCartel" name="diasCartel"><input type="checkbox"  id="miercolesCartel" name="diasCartel"  value="miercolesCartel" <%= products.diasCartel == "miercoles"? "checked" : null %>> Miércoles</label> 
                    <label class="labelCheck" for="juevesCartel" name="diasCartel"><input type="checkbox"  id="juevesCartel" name="diasCartel"  value="juevesCartel" <%= products.diasCartel == "Jueves"? "checked" : null %>> Jueves</label> 
                    <label class="labelCheck" for="viernesCartel" name="diasCartel"><input type="checkbox"  id="viernesCartel" name="diasCartel"  value="viernesCartel" <%= products.diasCartel == "Viernes"? "checked" : null %>> Viernes</label> 
                    <label class="labelCheck" for="sabadoCartel" name="diasCartel"><input type="checkbox"  id="sabadoCartel" name="diasCartel"  value="sabadoCartel" <%= products.diasCartel == "Sábado"? "checked" : null %>> Sábado</label> 
                    <label class="labelCheck" for="domingoCartel" name="diasCartel"><input type="checkbox"  id="domingoCartel" name="diasCartel"  value="domingoCartel" <%= products.diasCartel == "Domingo"? "checked" : null %>> Domingo</label> 
            </fieldset>

            <fieldset class="fieldNuevo">
                <legend>Horarios disponibles</legend>
                <label for="timeScheduled">
                    <input type="text" name="timeScheduled" class="cajaNuevo" placeholder="Horarios separados por comas" value="<%=products.timeScheduled%>">
                <span>Horarios (en formato 24 horas / separe por comas)</span>
                </label>
                
            </fieldset>

            <fieldset class="fieldCheckbox">
                <legend>Formato</legend>
                    <label class="labelCheck" for="dosDe" name="filmFormat">
                        <input type="checkbox"  id="dosDe" name="filmFormat"  value="dosDe" <%=products.filmFormat == "2D"? "checked":null %> > 2D</label>  
                    <label class="labelCheck" for="tresDe" name="filmFormat">
                        <input type="checkbox"  id="tresDe" name="filmFormat"  value="tresDe" <%=products.filmFormat == "3D"? "checked":null %>> 3D</label> 
            </fieldset>

            <fieldset class="fieldCheckbox">
                <legend>Audio</legend>
                    <label class="labelCheck" for="subtitulado" name="filmAudio">
                        <input type="checkbox"  id="subtitulado" name="filmAudio"  value="subtitulado" <%=products.filmAudio == "subtitulado"? "checked":null %>> VOSE</label>  
                    <label class="labelCheck" for="doblado" name="filmAudio">
                        <input type="checkbox"  id="doblado" name="filmAudio"  value="doblado" <%=products.filmAudio == "doblado"? "checked":null %>> Doblado al español</label> 
            </fieldset>

            <fieldset id="ageRestrictions">
                <legend>Restricciones de edad</legend>
                <input class="hidden radio-label" id="ageATP" type="radio" name="ageRestriction" value="todoPublico" <%=products.ageRestriction == "ATP" ? "checked":null %> >
                <label class="button-label" for="ageATP">ATP</label>
                <input class="hidden radio-label" id="ageThirteen" type="radio" name="ageRestriction" value="overThirteen" <%=products.ageRestriction == "+13" ? "checked":null %>>
                <label class="button-label" for="ageThirteen">+13</label>
                <input class="hidden radio-label" id="ageSixteen" type="radio" name="ageRestriction" value="overSixteen" <%=products.ageRestriction == "+16" ? "checked":null %>>
                <label class="button-label" for="ageSixteen">+16</label>
                <input class="hidden radio-label" id="ageEighteen" type="radio" name="ageRestriction" value="overEighteen" <%=products.ageRestriction == "+18" ? "checked":null %>>
                <label class="button-label" for="ageEighteen">+18</label> 
            </fieldset>
            <% } %>

            <!-- <fieldset id="imageInput">
                <legend>Escoja una imagen</legend>
                <label for="createImage"><input type="file" name="createImage" accept=".jpg, .png" required ></label>
            </fieldset> -->

           


           <% if (products.productType != "Película") { %>
            <fieldset class="fieldNuevo">
                <legend>Precio (sólo si no es película)</legend>
                <label for="priceInput"><input type="number" name="priceInput" class="cajaNuevo" value="0" placeholder="Precio" >
                <span>Precio</span>
                </label>
                
            </fieldset>
           <% } %>

                
          

                        <fieldset class="botonNuevo">
                            
                            <button type="reset" class="reset">Cancelar</button> 
                            <button type="submit" class="enviar">Guardar</button>
                        </fieldset>

        </form>




                


            <!-- </form> -->
        </section>
    </main>


    <%- include ('../modules/footer') %>
    
    </body>
    </html>