<%- include ('../modules/head') %> 

<body>

<%- include ('../modules/header') %> 

<!--Sección MAIN-->
<main>

<% if (locals.products) { %>
    <% if (products.length > 0) { %>
     
    <section id="list-movie">
    <article >
        <% products.forEach(product => { %>
         
        
            <h2> Item número <%= product.id %>: <%= product.productName %>  </h2>
                <figure  class="images-list">
                    <a href="/products/<%= product.id %>"><img src= <%= product.createImage %> ></a>
                </figure>
                <a href="#"> <i class="fas fa-trash"> </i> </a>
                <a href="/products/update/<%=product.id%> "> <i class="fas fa-pencil-alt"> </i> </a>

        <% }) %>
    </article>
        <% } else { %>
            <h2>No hay productos</h2>
        <% } %> 
    <% } else { %>
        <h2>No hay productos</h2>
    <% } %> 
    

</section>

</main>

<%- include ('../modules/footer') %>

</body>
</html>