<%- include ('../modules/head') %> 

<body>

<%- include ('../modules/header') %> 

<!--Sección MAIN-->
<main>

<% if (locals.other) { %>
    <% if (other.length > 0) { %>
     
    <section id="list-movie">
    <article >
        <% other.forEach(product => { %>
            <h2> Item número <%= product.id %>: <%= product.name %>  </h2>
            <figure  class="images-list">
                <a href="/products/other/<%= product.id %>" title="<%= product.name %>"><img src="/uploads/<%= product.image.url %>"></a>
                   
            </figure>
            <% if (user && user.admin) { %>
             
            
            <section id="iconitos">
                <form action="/products/other/?m=DELETE" method="post">
                    <input type="hidden" name="id" value=<%= product.id %>>
                    <button type="submit" title="Eliminar">
                        <i class="fas fa-trash"> </i>
                    </button>
                </form>
                <a href="/products/other/<%= product.id %>/edit" title="Editar elemento"> <i class="fas fa-pencil-alt"> </i> </a>
            </section>
            <% } %>
        <% }) %>
    </article>
        <% } else { %>
            <h2>No hay productos</h2>
        <% } %> 
    <% } else { %>
        <h2>No hay productos</h2>
    <% } %> 
    

</section>

</main>

<%- include ('../modules/footer') %>

</body>
</html>