<%- include ('../modules/head') %> 

<body>

<%- include ('../modules/header') %> 



<!--Sección MAIN-->
<main>

 

<% if (id == product.id) { %>
 

<section>
    <article id="background">
        <picture >
            <img src="/uploads/<%= product.poster.url %>">
        </picture>
    </article>


    
        <!-- detalle producto-->
<section class="container-peli">
    <article> <h2> <%= product.productName.toUpperCase() %>  </h2> 
    </article>
    <section id="flexDescription">
        <article id="imageContainer">
            <figure  class="images">
                <img src="/uploads/<%= product.poster.url %>">
            </figure>
        </article>

       

        <section class="descripciones" >
            <article id="sinopsis"> 
                <h3 class="sectionTitle"> SINOPSIS </h3>
                <p> <%= product.productDescription %>  </p>
            </article>

            <figure>

                    <a href="<%= product.productLink %> " target="_blank"><div class="play"></div></a>
                    

            

            </figure>

            

        </section>

        


    </section>

    <% if (user && user.admin) { %>
        <section class="sreeningBox">
            <h3> Funciones del mes </h3>

            <% if (product.screenings[0]) { %>
                <article>
                    
            
            
                <% product.screenings.forEach(element => { %>

                    <%= element.day %>, <%= element.hour %>hs., <%= element.language.name %>,<%= element.screen.name %> 
                    
                    <section id="iconitos">
                        <form action="/products/<%= product.id %>/screening/?m=DELETE" method="post">
                            <input type="hidden" name="idFunction" value=<%= element.id %>>
                            <button type="submit" title="Eliminar">
                                <i class="fas fa-trash"> </i>
                            </button>
                        </form>
                        <a href="/products/screening/<%= element.id %>/edit" title="Editar elemento"> <i class="fas fa-pencil-alt"> </i> </a>
                    </section>
                  
                
                <% }) %>
            <% } else {%>
                <h3>No hay funciones disponibles</h3>
                <% } %> 
            
                
            </article>
            
        </section>
        <a href="/products/<%= product.id %>/newScreening" class="newScreening">Agregar nueva función</a>
    <% } %>

    <% if (user && !user.admin) { %>
     
        <% if (product.screenings[0]) { %>
    <section id="container">
        <article> <h4> ELEGIR FUNCIÓN: </h4></article>
            <form action="/"  method="post">
                
        
                <% product.screenings.forEach(element => { %>
                    <label>
                        <input type="radio" name="chooseScreening"/>
                        <span><%= element.day %>, <%= element.hour %>hs., <%= element.language.name %>,<%= element.screen.name %> </span>
                    </label>
                    
                <br> 
                <br>
                <% }) %>

                <fieldset class="botonNuevo">
                    <button type="submit" class="enviar">comprar</button>
                    <button type="reset" class="reset">cancelar</button> 
                </fieldset>

    </form>
</section>
<% } %>
<% } %>
</section>
</section>
<% } %> 




</main>

<%- include ('../modules/footer') %>

</body>
</html>