<%- include ('../modules/head') %> 

<body>

<%- include ('../modules/header') %> 

<!--Sección MAIN-->
<main>
 

<% if (id == product.id) { %>
 

<section>
    <article id=background>
        <picture >
            <img src="/img/pop-corn.jpg">
        </picture>
    </article>


    
        <!-- detalle producto-->
<section class="container-peli">
    <article> <h2> <%= product.name %>  </h2> 
    </article>
    <section id="flexDescription">
        <article>
            <figure  class="images">
                <img src="/uploads/<%= product.image.url %>">
            </figure>
        </article>

       

        <section class="descripciones" >
            <article id="sinopsis"> 
                <h3> Descripción </h3>
                <p> <%= product.description %>  </p>
            </article>

            <figure>
                    <article id="sinopsis"> 
                        <h3> PRECIO </h3>
                        <p> $<%= product.price %> por unidad </p>
                    </article>

                <% } %> 

            </figure>

        </section>

        


    </section>

    <% if (user && !user.admin) { %>

     <form>    
            <fieldset class="botonNuevo">
                <button type="submit" class="enviar">comprar</button>
                <button type="reset" class="reset">cancelar</button> 
            </fieldset>  
       

    </form>

    <% } %> 
</section>

</section>
</section> 




</main>

<%- include ('../modules/footer') %>

</body>
</html>