<%- include ('../modules/head') %> 

<body>

<%- include ('../modules/header') %> 

<!--Sección MAIN-->
<main>
<section>
    <article id=background>
        <picture >
            <img src=<%= product.createImage %>>
        </picture>
    </article>


    
        <!-- detalle producto-->
<section class="container-peli">
    <article> <h2> <%= product.productName %>  </h2> 
    </article>
    <section id="flexDescription">
        <article>
            <figure  class="images">
                <img src=<%= product.createImage %>>
            </figure>
        </article>

       

        <section class="descripciones" >
            <article id="sinopsis"> 
                <h3> SINOPSIS </h3>
                <p> <%= product.productDescription %>  </p>
            </article>

            <figure>
                <% if (product.productType == "Película") { %>
                    <a href="<%= product.productLink %> " target="_blank"><div class="play"></div></a>
                <% } else { %>
                    <article id="sinopsis"> 
                        <h3> PRECIO </h3>
                        <p> $<%= product.priceInput %> por unidad </p>
                    </article>

                <% } %> 

            </figure>

        </section>

        


    </section>

    <% if (product.productType == "Película") { %>

    <section id="form-movie">
        <article> <h4> ELEGIR PELÍCULA POR: </h4></article>
            <form action="/"  method="post">
                <fieldset class="fieldCheckbox">
                    <legend>Formato</legend>
                    <label class="labelCheck" name="filmFormatUser"><input type="checkbox" name="filmFormatUser"  value="<% product.filmFormat %>"> <%= product.filmFormat %></label>
                </section>
                </fieldset>

                <fieldset class="movie-info"> 
                    <section class="movie-button">
                    <button type="button"> Subtitulada </button>
                    <button type="button"> Español </button>
                
                    </section>
                </fieldset>

                <fieldset class="movie-info movie-button">
                        <button type="button"> Domingo </button>
                </fieldset>

                <fieldset class="movie-info">
                    <h4> CineMelies </h4>
                    <section class="movie-button"> 
                    <p> <small >  Classic • 2D • Español  </small> </p>
                    <button type="button"> 14:00 </button>
                    <p> <small>  Classic • 2D • Subtitulada  </small> </p>
                    <button type="button"> 20:00 </button>
                    </section>
                </fieldset>

                <fieldset id="button-compra">
                    <input type="submit" value="COMPRAR" />   
                </fieldset>
            

        <% } else { %> 
            <fieldset class="botonNuevo">
                <button type="submit" class="enviar">Agregar al carrito</button>
            </fieldset>  
        <% } %> 

    </form>
</section>
</section>
</section> 

</main>

<%- include ('../modules/footer') %>

</body>
</html>