<%- include ('../modules/head') %> 

<body>

<%- include ('../modules/header') %> 

<!--Sección MAIN-->
<main>
<section>
    <article id=background>
        <picture >
            <% if (product.productType !== "Película") { %>
            <img src="/img/pop-corn.jpg">
            <% } else { %>
            <img src=<%= product.createImage %>>
            <% } %> 
        </picture>
    </article>


    
        <!-- detalle producto-->
<section class="container-peli">
    <article> <h2> <%= product.productName %>  </h2> 
    </article>
    <section id="flexDescription">
        <article>
            <figure  class="images">
                <img src=<%= product.createImage %>>
            </figure>
        </article>

       

        <section class="descripciones" >
            <article id="sinopsis"> 
                <h3> SINOPSIS </h3>
                <p> <%= product.productDescription %>  </p>
            </article>

            <figure>
                <% if (product.productType == "Película") { %>
                    <a href="<%= product.productLink %> " target="_blank"><div class="play"></div></a>
                <% } else { %>
                    <article id="sinopsis"> 
                        <h3> PRECIO </h3>
                        <p> $<%= product.priceInput %> por unidad </p>
                    </article>

                <% } %> 

            </figure>

        </section>

        


    </section>
<<<<<<< HEAD
    
</fieldset>
<fieldset id="button-compra">
        <input type="submit" value="COMPRAR" />   
</fieldset>
</form>
=======

    <% if (product.productType == "Película") { %>

    <section id="form-movie">
        <article> <h4> ELEGIR PELÍCULA POR: </h4></article>
            <form action="/"  method="post">
                <fieldset class="fieldCheckbox">
                    <legend>Formato</legend>
                    <label class="labelCheck" name="filmFormatUser"><input type="checkbox" name="filmFormatUser"  value="<% product.filmFormat %>"> <%= product.filmFormat %></label>
                
                </fieldset>

                <fieldset class="fieldCheckbox">
                    <legend>Idioma</legend>
                    <label class="labelCheck" name="filmAudioUser"><input type="checkbox" name="filmAudioUser"  value="<% product.filmAudio %>"> <%= product.filmAudio %></label>
                
                </fieldset>

                <fieldset class="fieldCheckbox">
                    <legend>Días en cartel</legend>
                    <label class="labelCheck" name="diasCartelUser"><input type="checkbox" name="diasCartelUser"  value="<% product.diasCartel %>"> <%= product.diasCartel %></label>
                
                </fieldset>

                <fieldset class="fieldCheckbox">
                    <legend>Horarios</legend>
                    <label class="labelCheck" name="timeScheduledUser"><input type="checkbox" name="timeScheduledUser"  value="<% product.timeScheduled %>"> <%= product.timeScheduled %></label>
                
                </fieldset>

                <fieldset class="botonNuevo">
                    <button type="submit" class="enviar">comprar</button>
                    <button type="reset" class="reset">cancelar</button> 
                </fieldset>
            

        <% } else { %> 
            <fieldset class="botonNuevo">
                <button type="submit" class="enviar">comprar</button>
                <button type="reset" class="reset">cancelar</button> 
            </fieldset>  
        <% } %> 

    </form>
>>>>>>> edb33fe073f7380637e1916d3086b3f38adda381
</section>
</section>
</section> 

</main>

<%- include ('../modules/footer') %>

</body>
</html>