<%- include ('../modules/head') %> 

<body>

<%- include ('../modules/header') %> 

<!--Sección MAIN-->
<main>
 

<% if (id == product.id) { %>
 

<section>
    <article id="backgroundOther">
                                
        <img src="/img/pop-corn.jpg">
        
    
    <article id="centeredTitle"> <%= product.name.toUpperCase() %>
    </article>
    </article>

    
        <!-- detalle producto-->
<section class="container-peli">
    
    <section id="flexDescription">
        <article>
            <figure  class="images">
                <% if (product.type_id == 3) { %>
                    <img src="/img/combo0.png">
                <% } else if (product.type_id == 1) {%>
                    <img src="/img/drinks0.jpg">
                <% } else if (product.type_id == 2) {%>
                    <img src="/img/popcorn0.jpg">
                    <% } %>
            </figure>
        </article>

       

        <section class="descripciones" >
            <article id="sinopsis"> 
                <h3> Descripción </h3>
                <p> <%= product.description %>  </p>
            </article>

            <figure>
                    <article id="sinopsis"> 
                        <h3> PRECIO </h3>
                        <p> $<%= product.price %> por unidad </p>
                    </article>

                <% } %> 

            </figure>

        </section>

        


    </section>

    <% if (user && !user.admin) { %>

     <form>    
            <fieldset class="botonNuevo">
                <button type="submit" class="enviar">comprar</button>
                <button type="reset" class="reset">cancelar</button> 
            </fieldset>  
       

    </form>

    <% } %> 
</section>

</section>
</section> 




</main>

<%- include ('../modules/footer') %>

</body>
</html>