<%- include ('../modules/head') %> 

<body>

<%- include ('../modules/header') %> 

<!--Sección MAIN-->
<main>
<% product.forEach(element => { %>
 

<% if (id == element.id) { %>
 

<section>
    <article id=background>
        <picture >
            <% if (element.productType !== "Película") { %>
            <img src="/img/pop-corn.jpg">
            <% } else { %>
            <img src="/uploads/<%= element.createImage.url %>">
            <% } %> 
        </picture>
    </article>


    
        <!-- detalle producto-->
<section class="container-peli">
    <article> <h2> <%= element.productName %>  </h2> 
    </article>
    <section id="flexDescription">
        <article>
            <figure  class="images">
                <img src="/uploads/<%= element.createImage.url %>">
            </figure>
        </article>

       

        <section class="descripciones" >
            <article id="sinopsis"> 
                <h3> SINOPSIS </h3>
                <p> <%= element.productDescription %>  </p>
            </article>

            <figure>
                <% if (element.productType == "Película") { %>
                    <a href="<%= element.productLink %> " target="_blank"><div class="play"></div></a>
                <% } else { %>
                    <article id="sinopsis"> 
                        <h3> PRECIO </h3>
                        <p> $<%= element.priceInput %> por unidad </p>
                    </article>

                <% } %> 

            </figure>

        </section>

        


    </section>

    <% if (user && user.admin) { %>

        Funciones disponibles

        <a href="/products/<%= element.id %>/newScreening">Agregar nueva función</a>
        
    <% } %> 

    <% if (user && !user.admin) { %>
     
    

    <% if (element.productType == "Película") { %>

    <section id="form-movie">
        <article> <h4> ELEGIR PELÍCULA POR: </h4></article>
            <form action="/"  method="post">
                <fieldset class="fieldCheckbox">
                    <legend>Formato</legend>
                    <label class="labelCheck" name="filmFormatUser"><input type="checkbox" name="filmFormatUser"  value="<% element.filmFormat %>"> <%= element.filmFormat %></label>
                
                </fieldset>

                <fieldset class="fieldCheckbox">
                    <legend>Idioma</legend>
                    <label class="labelCheck" name="filmAudioUser"><input type="checkbox" name="filmAudioUser"  value="<% element.filmAudio %>"> <%= element.filmAudio %></label>
                
                </fieldset>

                <fieldset class="fieldCheckbox">
                    <legend>Días en cartel</legend>
                    <label class="labelCheck" name="diasCartelUser"><input type="checkbox" name="diasCartelUser"  value="<% element.diasCartel %>"> <%= element.diasCartel %></label>
                
                </fieldset>

                <fieldset class="fieldCheckbox">
                    <legend>Horarios</legend>
                    <label class="labelCheck" name="timeScheduledUser"><input type="checkbox" name="timeScheduledUser"  value="<% element.timeScheduled %>"> <%= element.timeScheduled %></label>
                
                </fieldset>

                <fieldset class="botonNuevo">
                    <button type="submit" class="enviar">comprar</button>
                    <button type="reset" class="reset">cancelar</button> 
                </fieldset>
            

        <% } else { %> 
            <fieldset class="botonNuevo">
                <button type="submit" class="enviar">comprar</button>
                <button type="reset" class="reset">cancelar</button> 
            </fieldset>  
        <% } %> 

    </form>
</section>
<% } %>
</section>
</section>
<% } %> 

<% }) %>


</main>

<%- include ('../modules/footer') %>

</body>
</html>