<%- include ('../modules/head') %> 

<body>

<%- include ('../modules/header') %> 
<main>

    <article id="background">
                    
        <img src="/img/pulpfiction.jpg">
        
    
    <article id="centeredTitle"> Combos
    </article>
</article>

    <section class="main_box">
        
       

        <div class="main_candy">

        
        <! aca van los candy -->
        
        <% products.forEach(element => { %>
        <% if (element.type_id == "3") { %>
        <section class="left_candy_container" >
            

            <article class="candy_box">

               <span class="combo_titulo"><%= element.name %> </span>
                <div class="candy_box_left"  style="cursor:pointer" >
                    <img class= "img_article"src="/uploads/<%= element.image.url %> " alt="">
                   
                    <div class="img_descripcion">
                        <span><%= element.description %> </span>
                    </div>
                </div>
                <div class="candy_box_rigth" style="cursor:pointer" >
                   
                    <span class="precio_antes"><%= parseInt(parseInt(element.price)*1.1) %> </span>
                    <span class="precio_ahora"><%= element.price %> </span>
                    <span class="agregar_combo"><i class="fas fa-plus"></i></span>
                </div>
            </article>

        </section>
        <% } %>
        <% }) %>

        </div>

        <h2 class="combos">Para comer</h2>
        <div class="main_candy">
        
        <% products.forEach(element => { %>
        <% if (element.type_id == "2") { %>
        <section class="left_candy_container" >
            

            <article class="candy_box">

               <span class="combo_titulo"><%= element.name %> </span>
                <div class="candy_box_left"  style="cursor:pointer" >
                    <img class= "img_article"src="/uploads/<%= element.image.url %> " alt="">
                   
                    <div class="img_descripcion">
                        <span><%= element.description %> </span>
                    </div>
                </div>
                <div class="candy_box_rigth" style="cursor:pointer" >
                   
                    <span class="precio_antes"><%= parseInt(parseInt(element.price)*1.1) %> </span>
                    <span class="precio_ahora"><%= element.price %> </span>
                    <span class="agregar_combo"><i class="fas fa-plus"></i></span>
                </div>
            </article>

        </section>
        <% } %>
        <% }) %>
        </div>
        
        <h2 class="combos">Para beber</h2>
        
        <div class="main_candy">

        <% products.forEach(element => { %>
        <% if (element.type_id == "1") { %>
        <section class="left_candy_container" >
            

            <article class="candy_box">

               <span class="combo_titulo"><%= element.name %> </span>
                <div class="candy_box_left"  style="cursor:pointer" >
                    <img class= "img_article"src="/uploads/<%= element.image.url %> " alt="">
                   
                    <div class="img_descripcion">
                        <span><%= element.description %> </span>
                    </div>
                </div>
                <div class="candy_box_rigth" style="cursor:pointer" >
                   
                    <span class="precio_antes"><%= parseInt(parseInt(element.price)*1.1) %> </span>
                    <span class="precio_ahora"><%= element.price %> </span>
                    <span class="agregar_combo"><i class="fas fa-plus"></i></span>
                </div>
            </article>

        </section>
        <% } %>
        <% }) %>
        </div>


        

        </div>
    </section>
    </main>
        
        






    <%- include ('../modules/footer') %>


</body>
</html>
