<%- include ('../modules/head') %> 

<body>

<%- include ('../modules/header') %> 


    <main>
        <article id="background">
                                
            <img src="/img/inthemood.jpg">
            
        
        <article id="centeredTitle"> Resultado de búsqueda
        </article>
        </article>

        <section id="mainAbout">
            
            <% if (results[0]) { %>
                <article id="searchTitle">Mostrando <%= results.length %> resultado/s</article>
                <section id="searchResults">    
                    <% results.forEach(element => { %>
                        <picture class="searchPoster">
                            <a href="/products/<%= element.id %>"><img src="/uploads/<%= element.poster.url %>" ></a>
                            <div class="boxText">
                                <div class="text">
                                    <%= element.productName %> 
                                    
                                    <% if (element.screenings[0]) { %>
                                        <br>
                                    <br>
                                        en cartelera
                                    <% } %>  
                                </div>
                            </div>
                        </picture>
                        
                        

                    <% }) %>
                </section>
            <% } else { %>
                <article id="searchTitle">No hay resultados para su búsqueda</article>
                <% }%>
            
            

        </section>

        

    </main>

    <%- include ('../modules/footer') %>
    </body>
</html>