<%- include ('../modules/head') %> 

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>  
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js"></script>


<script src="js/banner.js"></script>

<body>

<%- include ('../modules/header') %> 

<%- include ('../modules/banner') %> 

<!--Sección MAIN-->
<main>

<!-- contenedor padre de las películas-->
<section id="container-posters">
            
        <section id="container-clasica"> 
            
        
            
            
            <% pelicula.forEach(element => { %>
                <% if (element.category.name == "Clásica") { %>
                 <% if (element.screenings[0]) { %>
                  
                 
                    
                <section >
                    <figure  class="images">
                        <a href="/products/<%= element.id %>" title="<%= element.productName %>"><img src="/uploads/<%= element.poster.url %>" ></a> 
                    </figure>
                    <article >
                        <p  class="title-peli"> <%= element.productName %>  </p>
                        <p> <a href="<%= element.productLink %>" target='_blank'> Ver Trailer </a></p>
                        <!-- <p> <i class="fas fa-star"></i> 7.9 <span> / 10 </span> </p> -->
                        <% element.screenings.forEach(scree => { %>
                            <p> <%= scree.day %>: <%= scree.hour %> hs. </p>
                        <% }) %> 
                        <!-- <p> %= element.diasCartel %></p>
                        <p> %= element.timeScheduled %> hs.</p> -->
                    </article>
                </section>
                <% } %>
                <% } %>
               
            <% }) %>
        
         
    </section> 
    
    
     <!-- contenedor Películas modernas -->
    
    <section id="container-moderna"> 
        <% pelicula.forEach(element => { %>
            <% if (element.category.name == "Moderna") { %>
                <% if (element.screenings[0]) { %>
             
            
            <section >
                <figure  class="images">
                    <a href="/products/<%= element.id %>" title="<%= element.productName %>"><img src="/uploads/<%= element.poster.url %>" ></a> 
                </figure>
                <article >
                    <p  class="title-peli"> <%= element.productName %>  </p>
                    <p> <a href="<%= element.productLink %>" target='_blank'> Ver Trailer </a></p>
                    <% element.screenings.forEach(scree => { %>
                        <p> <%= scree.day %>: <%= scree.hour %> hs. </p>
                    <% }) %> 
                    <!-- <p> <i class="fas fa-star"></i> 7.9 <span> / 10 </span> </p> -->
                    <!-- <p> %= element.diasCartel %></p>
                    <p> %= element.timeScheduled %> hs.</p> -->
                </article>
            </section>
            <% } %>
            <% } %>
        <% }) %>
    
</section>

<!-- Proximos estrenos -->
<section id="container-estrenos"> 
    <!-- 1 -->
    <article class="estrenos">
        <figure  class="images">
        <img src="img/metropolis1.jpg"> 
        </figure>
        <p> <span> ESTRENO </span> </p>
    </article>
    <!--  2 -->
<article class="estrenos">
    <figure  class="images ">
    <img src="img/zama1.jpg">
    </figure>
    <p> <span> ESTRENO </span> </p>
</article>
    <!--3 -->
<article class="estrenos">
        <figure  class="images ">
        <img src="img/man.jpg">
        </figure> 
        <p> <span> ESTRENO </span> </p>
</article>
    <!-- contenedor hijo  clasica 4  -->
<article class="estrenos">
    <figure  class="images ">
    <img src="img/rosemary.jpg">
    </figure> 
    <p> <span> ESTRENO </span> </p>
</article> 
</section> 
</section> 

</section> 
</main>

<%- include ('../modules/footer') %>


</body>
</html>
