<%- include ('../modules/head') %> 

<body>

<%- include ('../modules/header') %> 

<!--Sección MAIN-->
<main>

<!-- contenedor padre de las películas-->
<section id="container-posters">
        <!-- Sección titulos -->
        <!-- <section id="id-select-movie">
            <label> Cine Melies </label>
            <select name="Pelicula" >
                <option selected value="0"> Selecciona una película </option>
                    <optgroup label="Clásica"> 
                    <option value="1">The Big Combo</option> 
                    <option value="2">Phantom Lady</option> 
                    <option value="3">The Big Heat</option> 
                    <option value="4">Double Indemnity</option> 
                </optgroup> 
                <optgroup label="Moderna"> 
                    <option value="5">Dune</option> 
                    <option value="6">Maligno</option> 
                    <option value="7">Matrix</option> 
                    <option value="8">Eternals</option> 
                </optgroup> 
                <optgroup label="Estrenos"> 
                    <option value="9">Metropolis</option> 
                    <option value="10">Zama</option> 
                    <option value="11">El hombre que sabía demasiado</option> 
                    <option value="12">El bebé de Rosemary</option> 
                </optgroup> 
            </select>
    </section> -->

    <!-- contenedor   Películas clásicas -->
    
        <section id="container-clasica"> 
            
        
            
            
            <% pelicula.forEach(element => { %>
                <% if (element.category.name == "Clásica") { %>
                 
                
                <section >
                    <figure  class="images">
                        <a href="/products/<%= element.id %>" title="<%= element.productName %>"><img src="/uploads/<%= element.poster.url %>" ></a> 
                    </figure>
                    <article >
                        <p  class="title-peli"> <%= element.productName %>  </p>
                        <p> <a href="<%= element.productLink %>" target='_blank'> Ver Trailer </a></p>
                        <!-- <p> <i class="fas fa-star"></i> 7.9 <span> / 10 </span> </p> -->
                        <!-- <p> %= element.diasCartel %></p>
                        <p> %= element.timeScheduled %> hs.</p> -->
                    </article>
                </section>
                <% } %>
            <% }) %>
        
         
    </section> 
    
    
     <!-- contenedor Películas modernas -->
    
    <section id="container-moderna"> 
        <% pelicula.forEach(element => { %>
            <% if (element.category.name == "Moderna") { %>
             
            
            <section >
                <figure  class="images">
                    <a href="/products/<%= element.id %>" title="<%= element.productName %>"><img src="/uploads/<%= element.poster.url %>" ></a> 
                </figure>
                <article >
                    <p  class="title-peli"> <%= element.productName %>  </p>
                    <p> <a href="<%= element.productLink %>" target='_blank'> Ver Trailer </a></p>
                    <!-- <p> <i class="fas fa-star"></i> 7.9 <span> / 10 </span> </p> -->
                    <!-- <p> %= element.diasCartel %></p>
                    <p> %= element.timeScheduled %> hs.</p> -->
                </article>
            </section>
            <% } %>
        <% }) %>
    
</section>

<!-- Proximos estrenos -->
<section id="container-estrenos"> 
    <!-- 1 -->
    <article class="estrenos">
        <figure  class="images">
        <img src="img/metropolis1.jpg"> 
        </figure>
        <p> <span> ESTRENO </span> </p>
    </article>
    <!--  2 -->
<article class="estrenos">
    <figure  class="images ">
    <img src="img/zama1.jpg">
    </figure>
    <p> <span> ESTRENO </span> </p>
</article>
    <!--3 -->
<article class="estrenos">
        <figure  class="images ">
        <img src="img/man.jpg">
        </figure> 
        <p> <span> ESTRENO </span> </p>
</article>
    <!-- contenedor hijo  clasica 4  -->
<article class="estrenos">
    <figure  class="images ">
    <img src="img/rosemary.jpg">
    </figure> 
    <p> <span> ESTRENO </span> </p>
</article> 
</section> 
</section> 

</section> 
</main>

<%- include ('../modules/footer') %>


</body>
</html>
