<%- include ('../modules/head') %> 

<body>

<%- include ('../modules/header') %> 

<!--Sección MAIN-->
<main>

    <article id="background">
                                
        <img src="/img/about.jpg">
        
    
    <article id="centeredTitle"> Usuarios
    </article>
    </article>

<% if (locals.users) { %>
    <% if (users.length > 0) { %>
     
    <section id="list-movie">
    
        <% users.forEach(user => { %>
            <article id="cajitaUser">
            <h2 class="tituloLista"> Usuario número <%= user.id %>: <%= user.name %>  </h2>
            <p class="datosLista">DNI: <%= user.document %></p>
            <br>

            <p class="datosLista">Nacimiento: <%= user.birthDate %> </p>
            <br>

            <p class="datosLista">E-mail: <%= user.email %> </p>
            <br>

            <section id="iconitos">
                <form action="/users/?m=DELETE" method="post">
                    <input type="hidden" name="id" value=<%= user.id %>>
                    <button type="submit" title="Eliminar">
                        <i class="fas fa-trash"> </i>
                    </button>
                </form>
            </section>

            </article>
        <% }) %>
    
        <% } else { %>
            <h2>No hay usuarios</h2>
        <% } %> 
    <% } else { %>
        <h2>No hay usuarios</h2>
    <% } %> 
    

</section>

</main>

<%- include ('../modules/footer') %>

</body>
</html>