<%- include ('../modules/head') %> 

<body>

<%- include ('../modules/header') %> 

<main>

    <section id="profileMain">

        <h1 class="titulos">Mi perfil</h1>

        <section class="tarjetaPerfil">

            <figure>
                <img src="/img/000000000000.jpg" alt="" class="avatar">
            </figure>

            <article class="usuario">
                <p class="datos">
                    Nombre: <%= user.nombreCompleto %> 
                    <br>
                    Fecha de nacimiento: <%= user.fecha %> 
                    <br>
                    DNI: <%= user.Documento %> 
                    <br>
                    E-mail: <%= user.email %> 
                    <br>
                </p>
            </article>

        </section>

        <% if (user && user.admin) { %>
            
         
            <section class="tarjetaPerfil">

                <figure id="panelFigure">
                    <img src="/img/work-from-home-3.png" alt="" class="panelAvatar">
                </figure>
    
                <article class="panelOpciones">
                    <p class="datos">
                        <p>Panel de control</p>
                        <br>
                        
                        <a href="/users/">Lista de usuarios</a>
                        <br>
                        <br>
                        <a href="/products/">Lista de productos</a>
                        <br>
                        <br>
                        <a href="/products/create">Crear nuevo producto</a>
                        <br>
                        <br>
                    </p>
                </article>
    
            </section>

            <% } %>

        <form action="/users/logout" method="post">
            <fieldset class="botonNuevo">
                <button type="submit" class="enviar">logout</button> 
            </fieldset>
        </form>

    </section>


</main>


<%- include ('../modules/footer') %>

</body>
</html>
