<%- include ('../modules/head') %> 

<body>

<%- include ('../modules/header') %> 

<main>

    <section id="profileMain">

        <h1 class="titulos">Mi perfil</h1>

        <section class="tarjetaPerfil">
            <% if (user.avatar != null) { %>
                <figure>
                    <img src="../../../uploads/avatars/<%= user.avatar %>" alt="avatar <%= user.email %>" class="avatar">
                </figure>
            <% } else { %>
                <figure>
                    <img src="/img/000000000000.jpg" alt="avatar <%= user.email %>" class="avatar">
                </figure>
            <% } %>
            

            <article class="usuario">
                <p class="datos">
                    Nombre: <%= user.nombreCompleto %> 
                    <br>
                    Fecha de nacimiento: <%= user.fecha %> 
                    <br>
                    DNI: <%= user.Documento %> 
                    <br>
                    E-mail: <%= user.email %> 
                    <br>
                    <form action="/users/upload/avatar" enctype="multipart/form-data" method="post">
                        <input type="file" name="imagenUsuario" id="imagenUsuario">
                        <button type="submit">Cambiar avatar</button>
                    </form>
                </p>
            </article>

        </section>

        <% if (user && user.admin) { %>
            
         
            <section class="tarjetaPerfil">

                <figure id="panelFigure">
                    <img src="/img/work-from-home-3.png" alt="" class="panelAvatar">
                </figure>
    
                <article class="panelOpciones">
                    <p class="datos">
                        <p>Panel de control</p>
                        <br>
                        
                        <a href="/users/">Lista de usuarios</a>
                        <br>
                        <br>
                        <a href="/products/">Lista de productos</a>
                        <br>
                        <br>
                        <a href="/products/create">Crear nuevo producto</a>
                        <br>
                        <br>
                    </p>
                </article>
    
            </section>

            <% } %>

        <form action="/users/logout" method="post">
            <fieldset class="botonNuevo">
                <button type="submit" class="enviar">logout</button> 
            </fieldset>
        </form>

    </section>


</main>


<%- include ('../modules/footer') %>

</body>
</html>
