
<%- include ('../modules/head') %> 

<body> 
   
<%- include ('../modules/header') %> 


<!-- Sección Main -->
<main>
    <article id="background">
                    
        <img src="/img/cinema_paradiso.jpg">
        
    
    <article id="centeredTitle"> Nuevo cinéfilo
    </article>
</article>
    <section id="register-form">
        
       <section class="mainFlex">
            <figure id="cine-foto">
                <img src="/img/cinefilo.png">
            </figure>
            <section class="flexUser">
            <form action="/users/" id="register-form" method="post" >
                <fieldset class="fieldNuevo">
                    <legend class="dn"> Nombre y Apellido </legend>
                    <label class="dn" for="name"> </label>
                    <input type="text" class="cajaNuevo" name="name" id="nombreCompleto" value="<%=locals.userInput? userInput.name :  "" %>" placeholder="Nombre y Apellido">
                    <small></small>
                    <% if (locals.errors && errors.name) { %>
                        <p class="errores"><%= errors.name.msg %> </p>
                    <% } %>
                </fieldset>
            
                <fieldset class="fieldNuevo">
                <legend class="dn" > DNI </legend>
                <label class="dn"  for="document">  </label>
                <input type="number" class="cajaNuevo" name="document" id="document" placeholder="Documento" value="<%=locals.userInput? userInput.document :  "" %>" >
                <small></small>
                <% if (locals.errors && errors.document) { %>
                    <p class="errores"><%= errors.document.msg %> </p>
                <% } %>
                </fieldset>
            
                <fieldset class="fieldNuevo" >
                
                <label for="birthDate" class="dn"> </label>
                <input type="date" class="cajaNuevo" class="t-input" name="birthDate" id="birthDate" placeholder="birthDate" min="01/01/1900" value="<%=locals.userInput? userInput.birthDate :  "" %>" >
                <small></small>
                <% if (locals.errors && errors.birthDate) { %>
                    <p class="errores"><%= errors.birthDate.msg %> </p>
                <% } %>
                </fieldset>
            
                <fieldset class="fieldNuevo">
                <legend class="dn" > Email </legend>
                <label  class="dn" for="email"> </label>
                <input type="text"  class="cajaNuevo" name="email" id="email" placeholder="Email"  value="<%=locals.userInput? userInput.email :  "" %>" >
                <small></small>
                <% if (locals.errors && errors.email) { %>
                    <p class="errores"><%= errors.email.msg %> </p>
                <% } %>
                </fieldset>
                
                <fieldset class="fieldNuevo">
                <legend class="dn" > Contraseña </legend>
                <label for="password" >  </label> 
                <input type="password" class="cajaNuevo" name="password" id="confirm" placeholder="Escribí tu contraseña"
                title="Debe contener 8 o más caracteres, al menos un número, una letra mayúscula, una minúscula, y un carácter especial" required >
                <small></small>
                <% if (locals.errors && errors.password) { %>
                    <p class="errores"><%= errors.password.msg %> </p>
                <% } %>
                </fieldset>
            
            </section>
        </section>

            <fieldset class="botonNuevo">
            <legend class="dn"> Botones del Formulario </legend>
            
            <button type="submit" class="enviar" title="Registrarme"> Registrarse </button>
            <button type="button" class="reset" title="Borrar todo"> cancelar</button>
            </fieldset>
            

            </form>

            <article id="userExists">
                <a href="/users/login" id="login"> Ya tengo usuario </a>
            </article>
            
    </section>


<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js"></script>
<script src="/js/validateRegister.js" type="text/javascript"></script>
</main>



<%- include ('../modules/footer') %>

</body>

</html>