
<%- include ('../modules/head') %> 

<body> 
   
<%- include ('../modules/header') %> 

<!-- Sección Main -->
<main>

    <section id="register-form">
        <h3> NUEVO CINÉFILO </h3> 
       
        <figure id="cine-foto">
            <img src="/img/cinefilo.png">
        </figure>
       
        <form action="/users/" id="register-form" method="post" >
            <fieldset class="fieldNuevo">
            <legend class="dn"> Nombre y Apellido </legend>
            <label class="dn" for="nombreCompleto"> </label>
            <input type="text" class="cajaNuevo" name="nombreCompleto" id="nombreCompleto" placeholder="Nombre y Apellido" required >
            
            </fieldset>
        
            <fieldset class="fieldNuevo">
            <legend class="dn" > DNI </legend>
            <label class="dn"  for="Documento">  </label>
            <input type="number" class="cajaNuevo" name="Documento" id="Documento" placeholder="Documento"  required >
         
            </fieldset>
        
            <fieldset class="fieldNuevo" >
            
            <label for="fecha" class="dn"> </label>
            <input type="date" class="cajaNuevo" class="t-input" name="fecha" id="fecha" placeholder="fecha"  required >
            
            </fieldset>
        

            <% if (locals.errors && errors.email) { %>
                <p class="errores"><%= errors.email.msg %> </p>
            <% } %>
            <fieldset class="fieldNuevo">
            <legend class="dn" > Email </legend>
            <label  class="dn" for="email"> </label>
            <input type="text"  class="cajaNuevo" name="email" id="email" placeholder="Email"  required >
            
            </fieldset>
            <% if (locals.errors && errors.clave) { %>
                <p class="errores"><%= errors.clave.msg %> </p>
            <% } %>
            <fieldset class="fieldNuevo">
            <legend class="dn" > Contraseña </legend>
            <label for="clave" >  </label> 
            <input type="password" class="cajaNuevo" name="clave" id="confirm" placeholder="Escribí tu contraseña"
            title="Debe contener 8 o más caracteres, al menos un número, una letra mayúscula, una minúscula, y un carácter especial" required >
            
            </fieldset>
        
            <fieldset class="fieldNuevo">
            <legend class="dn" > Confirmar Contraseña </legend>
            <label for="confirm" id="confirmar"> </label> 
            <input type="password" class="cajaNuevo" name="confirm" id="confirm" class="clave" placeholder="Confirmar Contraseña" required >
           
            </fieldset>
        
            <fieldset class="botonNuevo">
            <legend class="dn"> Botones del Formulario </legend>
            <button type="submit" class="enviar"> Registrarse </button>
            </fieldset>
            
            <fieldset class="">
                <article > <a href="/login" id="login"> Ingresar </a>  </article>
            </fieldset>
            </form>
            
    </section>

<!-- 
<section> 
    <article> <h3> NUEVO CINÉFILO </h3> </article>
    <section  class="main-form" >
        <figure id="cine-foto">
            <img src="/img/cinefilo.png">
        </figure>
    <form action="/" method="post" class="fr">
    <fieldset>
    <legend class="dn">Nombre y Apellido </legend>
    <label class="dn" for="nombreCompleto">Nombre y Apellido </label>
    <input type="text" name="nombreCompleto" id="nombreCompleto" placeholder="Nombre y Apellido" required >
    </fieldset>

    <fieldset>
    <legend class="dn" > DNI </legend>
    <label class="dn"  for="Documento"> DNI </label>
    <input type="number" name="Documento" id="Documento" placeholder="Documento"  required >
    </fieldset>

    <fieldset >
    <legend  > Fecha de Nacimiento </legend>
    <label for="fecha" class="dn"> Fecha de Nacimiento </label>
    <input type="date" class="t-input" name="fecha" id="fecha" placeholder="fecha"  required >
    </fieldset>

    <fieldset>
    <legend class="dn" > Email </legend>
    <label  class="dn" for="email"> Email</label>
    <input type="email" name="email" id="email" placeholder="Email"  required >
    </fieldset>

    <fieldset>
    <legend class="dn" > Contraseña </legend>
    <span> <label for="clave"  > Contraseña  </label> </span>
    <input type="password" class="t-input" name="clave" id="confirm" placeholder="Escribí tu contraseña" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
    title="Debe contener 8 o más caracteres de al menos un número y una letra mayúscula y minúscula" required >
    </fieldset>

    <fieldset>
    <legend class="dn" > Confirmar Contraseña </legend>
    <span id="confirmar"><label for="confirm"> Confirmar Contraseña </label> </span>
    <input type="password" name="confirm" id="confirm" class="clave" required >
    </fieldset>

    <fieldset class="botones">
    <legend class="dn"> Botones del Formulario </legend>
    <button type="submit" class="btn"> Registrarse </button>
    </fieldset>
    </form>
    </section>
    <article > <a href="/login" id="login"> Ingresar </a>  </article>
</section>

-->
</main>

<%- include ('../modules/footer') %>

</body>

</html>