
<%- include ('../modules/head') %> 

<body> 
   
<%- include ('../modules/header') %> 

<!-- Sección Main -->
<main>
    <article id="background">
                    
        <img src="/img/cinema_paradiso.jpg">
        
    
    <article id="centeredTitle"> Nuevo cinéfilo
    </article>
</article>
    <section id="register-form">
        
       <section class="mainFlex">
            <figure id="cine-foto">
                <img src="/img/cinefilo.png">
            </figure>
            <section class="flexUser">
            <form action="/users/" id="register-form" method="post" >
                <fieldset class="fieldNuevo">
                <legend class="dn"> Nombre y Apellido </legend>
                <label class="dn" for="name"> </label>
                <input type="text" class="cajaNuevo" name="name" id="nombreCompleto" placeholder="Nombre y Apellido" required >
                
                </fieldset>
            
                <fieldset class="fieldNuevo">
                <legend class="dn" > DNI </legend>
                <label class="dn"  for="document">  </label>
                <input type="number" class="cajaNuevo" name="document" id="document" placeholder="Documento"  required >
            
                </fieldset>
            
                <fieldset class="fieldNuevo" >
                
                <label for="birthDate" class="dn"> </label>
                <input type="date" class="cajaNuevo" class="t-input" name="birthDate" id="birthDate" placeholder="birthDate"  required >
                
                </fieldset>
            

                <% if (locals.errors && errors.email) { %>
                    <p class="errores"><%= errors.email.msg %> </p>
                <% } %>
                <fieldset class="fieldNuevo">
                <legend class="dn" > Email </legend>
                <label  class="dn" for="email"> </label>
                <input type="text"  class="cajaNuevo" name="email" id="email" placeholder="Email"  required >
                
                </fieldset>
                <% if (locals.errors && errors.password) { %>
                    <p class="errores"><%= errors.password.msg %> </p>
                <% } %>
                <fieldset class="fieldNuevo">
                <legend class="dn" > Contraseña </legend>
                <label for="password" >  </label> 
                <input type="password" class="cajaNuevo" name="password" id="confirm" placeholder="Escribí tu contraseña"
                title="Debe contener 8 o más caracteres, al menos un número, una letra mayúscula, una minúscula, y un carácter especial" required >
                
                </fieldset>
            
            </section>
        </section>

            <fieldset class="botonNuevo">
            <legend class="dn"> Botones del Formulario </legend>
            
            <button type="submit" class="enviar" title="Registrarme"> Registrarse </button>
            <button type="button" class="reset" title="Borrar todo"> cancelar</button>
            </fieldset>
            

            </form>

            <article id="userExists">
                <a href="/users/login" id="login"> Ya tengo usuario </a>
            </article>
            
    </section>

<!-- 
<section> 
    <article> <h3> NUEVO CINÉFILO </h3> </article>
    <section  class="main-form" >
        <figure id="cine-foto">
            <img src="/img/cinefilo.png">
        </figure>
    <form action="/" method="post" class="fr">
    <fieldset>
    <legend class="dn">Nombre y Apellido </legend>
    <label class="dn" for="nombreCompleto">Nombre y Apellido </label>
    <input type="text" name="nombreCompleto" id="nombreCompleto" placeholder="Nombre y Apellido" required >
    </fieldset>

    <fieldset>
    <legend class="dn" > DNI </legend>
    <label class="dn"  for="Documento"> DNI </label>
    <input type="number" name="Documento" id="Documento" placeholder="Documento"  required >
    </fieldset>

    <fieldset >
    <legend  > birthDate de Nacimiento </legend>
    <label for="birthDate" class="dn"> birthDate de Nacimiento </label>
    <input type="date" class="t-input" name="birthDate" id="birthDate" placeholder="birthDate"  required >
    </fieldset>

    <fieldset>
    <legend class="dn" > Email </legend>
    <label  class="dn" for="email"> Email</label>
    <input type="email" name="email" id="email" placeholder="Email"  required >
    </fieldset>

    <fieldset>
    <legend class="dn" > Contraseña </legend>
    <span> <label for="password"  > Contraseña  </label> </span>
    <input type="password" class="t-input" name="password" id="confirm" placeholder="Escribí tu contraseña" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
    title="Debe contener 8 o más caracteres de al menos un número y una letra mayúscula y minúscula" required >
    </fieldset>

    <fieldset>
    <legend class="dn" > Confirmar Contraseña </legend>
    <span id="confirmar"><label for="confirm"> Confirmar Contraseña </label> </span>
    <input type="password" name="confirm" id="confirm" class="password" required >
    </fieldset>

    <fieldset class="botones">
    <legend class="dn"> Botones del Formulario </legend>
    <button type="submit" class="btn"> Registrarse </button>
    </fieldset>
    </form>
    </section>
    <article > <a href="/login" id="login"> Ingresar </a>  </article>
</section>

-->
</main>

<%- include ('../modules/footer') %>

</body>

</html>